@let installed = installed$ | async;
@if (installedError) {
  <app-error-card title="Unable to get installed apps" [error]="installedError" (retry)="loadPackages()">
  </app-error-card>
} @else if (installed) {
  <ul class="list-group list-group-flush">
    @for (pkg of installed; track pkg.id) {
      <li class="list-group-item app-item d-flex flex-row align-items-center">
        <div class="app-desc flex-fill">
          <!--suppress AngularNgOptimizedImage -->
          <img class="app-icon" [src]="(iconCache.get(pkg.id) ?? pkg.iconUri) | trustUri" [alt]="pkg.title">
          <div class="app-headline ms-3">
            <div class="app-title">{{ pkg.title }}</div>
            <div class="app-description">
              <span>v{{ pkg.version }}</span>
            </div>
          </div>
        </div>
        <div class="d-flex gap-2 ms-2 align-items-center">
          <button class="btn btn-sm btn-secondary text-nowrap" type="button" aria-label="Inspect"
                  (click)="parent.inspectApp()">
            <i class="bi bi-search me-1"></i>Inspect
          </button>
          <button class="btn btn-sm btn-secondary text-nowrap" type="button" aria-label="Change Icon"
                  (click)="parent.changeAppIcon(pkg)">
            <i class="bi bi-image me-1"></i>Change Icon
          </button>
          <button class="btn btn-sm btn-primary text-nowrap" type="button" aria-label="Launch"
                  (click)="parent.launchApp(pkg.id)">
            <i class="bi bi-play-fill me-1"></i>Launch
          </button>
          <button class="btn btn-sm btn-danger text-nowrap" type="button" aria-label="Remove"
                  (click)="parent.removePackage(pkg)">
            <i class="bi bi-trash me-1"></i>Remove
          </button>
        </div>
      </li>
    }
  </ul>
} @else {
  <app-loading-card></app-loading-card>
}
