<form [formGroup]="formGroup">
  <div class="row g-3">
    <div class="col-12">
      <label class="form-label" for="deviceName">Device Name</label>
      <input type="text" class="form-control" id="deviceName" formControlName="name" autocomplete="off" required>
      @let nameErrors = formGroup.controls.name.errors;
      @if (nameErrors) {
        @if (nameErrors['nameExists']) {
          <div class="invalid-feedback">Device with this name already exists</div>
        }
      }
    </div>
    <div class="col-12">
      <label class="form-label" for="deviceAddress">IP Address</label>
      <input type="text" class="form-control" id="deviceAddress" formControlName="address"
             autocomplete="off" placeholder="192.168.x.x">
    </div>
    <div class="col-12" [formGroup]="formGroup.controls.sshAuth">
      <label class="form-label" for="passphrase">Passphrase</label>
      <input type="text" class="form-control" id="passphrase" formControlName="value"
             autocomplete="off" placeholder="Enter passphrase"
             (input)="onPassphraseInput($event)">
    </div>
  </div>
</form>
